@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@layer components {
  .inactive-color-picker {
    @apply w-24 h-24 mb-8 rounded-2xl dark:bg-cyan-50/20 bg-cyan-900/20 dark:text-cyan-50 text-cyan-900 text-5xl;
  }
  .button {
    @apply px-6 py-2 bg-cyan-400/70 text-black font-bold rounded-full hover:bg-cyan-400 transition-all active:scale-[98%];
  }
}
